* {
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

html, body, .front, .front-tiles, .front-license, .front-ticket, .front-admin {
  height: 100%;
  width: 100%;
}

.front {
  display: flex;
  flex-direction: column;
}

.front-intro {
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
}

.front-menu {
  height: 100%;
  flex-grow: 1;
}

.front-tiles, .front-license, .front-ticket, .front-admin {
  text-align: center;
  background: #439394;
  color: white;
  border-radius: 50px 50px 0 0;
  box-sizing: border-box;
  padding: 40px;
}

.front-tiles, .front-ticket, .front-admin {
  display: none;
}

.front-tile {
  text-align: left;
  width: 100%;
  border-radius: 30px 30px 80px 30px;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  color: #54b8ba;
  margin-bottom: 10px;
}

.front h4 {
  margin-top: 20px;
  letter-spacing: 10px;
  font-size: 1.5rem;
}

.front-ticket, .front-admin {
  flex-direction: column;
  align-items: center;
}

#ticket-qr {
  width: 220px;
  height: 220px;
  border-radius: 20px;
  padding: 20px;
  background: white;
  margin: 20px;
}

#admin {
  display: none;
}

.admin-qr-container {
  width: 220px;
  height: 220px;
  padding: 10px;
  background: white;
  border-radius: 20px;
  position: relative;
}

.admin-qr-container i {
  color: #54b8ba;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#admin-qr {
  height: 220px;
  width: 220px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0;
}

#admin-qr-text {
  border: 0;
  padding: 10px;
  border-radius: 10px;
  background: white;
  font-size: 1rem;
  margin-top: 10px;
  width: 200px;
}

.admin-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.admin-table div {
  overflow-x: auto;
}

.admin-table input {
  width: 100%;
  box-sizing: border-box;
}