* {
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

html, body, .front, .front-tiles, .front-ticket {
  height: 100%;
  width: 100%;
}

.front-license, .front-admin {
  height: auto;
  min-height: 100%;
  width: 100%;
}

.front {
  display: flex;
  flex-direction: column;
}

.front-intro {
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
}

.front-menu {
  height: 100%;
  flex-grow: 1;
}

.front-tiles, .front-license, .front-admin {
  text-align: center;
  background: #439394;
  color: white;
  border-radius: 50px 50px 0 0;
  box-sizing: border-box;
  padding: 40px;
}

.front-tiles, .front-ticket, .front-admin {
  display: none;
}

.front-tile {
  text-align: left;
  width: 100%;
  border-radius: 30px 30px 80px 30px;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  color: #54b8ba;
  margin-bottom: 10px;
}

.front h4 {
  margin-top: 20px;
  letter-spacing: 10px;
  font-size: 1.5rem;
}

.front-ticket, .front-admin {
  flex-direction: column;
  align-items: center;
}

.front-ticket {
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  background: #fafafa;
  box-sizing: border-box;
}

#ticket-close {
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
}

#ticket-qr {
  width: 220px;
  height: 220px;
  border-radius: 20px;
  padding: 20px;
  background: white;
  margin: 20px;
}

.ticket-details {
  padding: 10px;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
  border-radius: 3px;
  border-left: 6px solid #018d9f;
  font-size: small;
  box-sizing: border-box;
  width: calc(100% - 60px);
  margin: 60px;
}

.ticket-timer {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  background: white;
  padding: 20px;
  box-sizing: border-box;
  border-top: 1px solid #018d9f;
}

.ticket-timer h5 {
  color: #6c6c6c;
  font-size: 1rem;
}

.ticket-timer-live {
  display: flex;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.ticket-timer-live div {
  flex: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket-timer-live h3 {
  font-size: 1.5rem;
}

.ticket-timer-live p {
  font-weight: 200;
  color: #6c6c6c;
  font-size: 0.8rem;
}

#admin {
  display: none;
}

.admin-qr-container {
  width: 220px;
  height: 220px;
  padding: 10px;
  background: white;
  border-radius: 20px;
  position: relative;
}

.admin-qr-container i {
  color: #54b8ba;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#admin-qr {
  height: 220px;
  width: 220px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0;
}

input {
  border: 0;
  padding: 10px;
  border-radius: 10px;
  background: white;
  font-size: 1rem;
  margin-top: 10px;
  width: 200px;
}

.admin-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.admin-table div {
  overflow-x: auto;
}

.admin-table input {
  width: 100%;
  box-sizing: border-box;
}